@font-face {
	font-family: "AudioWide";
	src: url("assets/Audiowide-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	box-sizing: border-box;
	font-family: "AudioWide", system-ui, sans-serif;
}

:root[data-theme="light-mode"] {
	--bg: lch(93.11% 10.63 228.06);
	--color: #000;
}

:root[data-theme="dark-mode"] {
	--bg: lch(1.55% 10.52 288.67);
	--color: #fff;
}

body {
	background-color: var(--bg);
	color: var(--color);
}

#content-container {
	border: 1em solid var(--color);
}
